* {
  /*border: 1px solid black;*/
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

 /* Header - Form */

.header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.header form {
  padding: 20px 15px;
}

#logo {
  width: 100px;
  margin-right: 15px;
}

.header form input {
  width: 600px;
  height: 40px;
  border: 1px solid #cecece;
  box-shadow: 0px 1px 2px #aaa;
  border-radius: 2px;
  position: relative;
  top: -18px;
}


/* Header - Navigation */

.site-nav {
  position: absolute;
  top: 10px;
  right: 10px;
}

.site-nav li {
  display: inline;
  padding: 10px 10px;
}

.site-nav li img {
  position: relative;
  top: 3px;
}

.site-nav button {
  border: 0;
  border-radius: 2px;
  padding: 8px 12px;
  background-color: #58f;
  color: white;
  font-weight: bold;
  font-size: .8em;
}


/* Header - Results Navigation */

.results-nav {
  margin-top: -35px;
  margin-left: 95px;
  font-family: sans-serif;
  font-size: small;
  width: 640px;
}

.results-nav a {
  color: #777;
}

.options {
  float: right;
  padding: 0;
  margin: 0;
}

.results-nav ul {
  display: inline-block;
  margin: 0;
}

.results-nav li {
  display: inline-block;
  padding: 10px 13px;
  margin: 0;
}

.types li:first-child {
  border-bottom: 3px solid #58f;
}

#selected {
  color: #58f;
  font-weight: bold;
}

.results {
  margin-left: 150px;
  width: 600px;
}

/* Count and Time to Search */

.count-time {
  color: #777;
  font-size: small;
}

/* Results List */

.list h1 a {
  font-size: 18px;
  font-weight: normal;
  color: darkblue;
}

.list h2 {
  color: green;
  font-size: 14px;
  font-weight: normal;
  margin-top: -20px;
}

.list p {
  font-size: 13px;
  color: #555;
  margin-top: -8px;
  line-height: 1.5em;
}

.list .match {
  font-weight: bold;
  color: #444;
}

.result-date {
  color: #888;
}


/* Related */

.related h1 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 0;
}

.related ul {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
}

.related li {
  line-height: 1.7em;
}

.related a {
  color: darkblue;
}

.related .match {
  font-weight: normal;
}

.related #column2 {
  padding-left: 40px;
}


/* More Search Results */

.more {
}

.more ul {
  text-align: center;
}

.more li {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 12px;
}

.more li:last-child {
  width: 40px;
}


 /* Footer */

.footer {
  list-style-type: none;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-left: 150px;
}

.footer ul, .footer li {
  display: inline-block;
  padding: 6px 15px;
  margin: 0;
}

.footer ul {
  margin-left: -30px;
}

.footer p, .footer a {
  font-family: sans-serif;
  font-size: small;
  color: #777;
}

.footer p #location {
  color: #aaa;
}
