* {
    /*border: 1px solid black;*/
}

body {
    background-color: #fff;
}

a {
    font-family: sans-serif;
    font-size: small;
    text-decoration: none;
    color: #444;
}

button {
    border: 0;
    border-radius: 2px;
}

.nav {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    padding: 10px 10px;
}

.nav img {
    position: relative;
    top: 5px;
}

.nav button {
    padding: 8px 12px;
    background-color: #58f;
    color: white;
    font-weight: bold;
    font-size: .8em;
}

#logo {
    display: block;
    margin: 0 auto;
    padding: 25px;
    margin-top: 180px;
}

form {
    text-align: center;
}

input {
    width: 550px;
    height: 40px;
    border: 1px solid #cecece;
    box-shadow: 0px 1px 2px #aaa;
    border-radius: 2px;
}

form button {
    margin: 30px 2px;
    padding: 10px 18px;
    font-weight: bold;
    color: #666;
    background-color: #ececec;
}

.footer {
  list-style-type: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #ececec;
  font-family: sans-serif;
  font-size: small;
  color: #555;
  border-top: 1px solid #ddd;
}

.footer ul, li {
  display: inline-block;
  padding: 6px 15px;
  margin: 0;
}